<a href="https://colab.research.google.com/github/ihkim0/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [1]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_scores.csv', index=False, encoding='utf-8')

## 5-2 JSON 형식 저장

In [8]:
### 라이브러리 임포트
import json
import pandas as pd

# data는 dictionary로 만들어
data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode='w', encoding='utf-8') as file:
    json.dump(data, file, indent=4, ensure_ascii=False)

## DataFrame을 이용한 저장
df = pd.DataFrame([data])
#df.to_json('output.json', orient='records', indent=4, force_ascii=False)
df.to_json('output.json', orient='columns', indent=4, force_ascii=False)

## 5-3 Pandas Dataframe 데이터 추출

In [18]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)
df
## DataFrame 인덱스 출력
print(df.index)
## DataFrame 컬럼 출력
print(df.columns)
## DataFrame 행 출력
print(df.values.tolist())
print(df.values)
## DataFrame 값 출력
print(df.values.flatten())

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[['김철수', 1, 4.2, '컴퓨터학', '프로그래밍'], ['이영희', 2, 3.8, '경영학', '독서토론'], ['박민수', 3, 4.5, '농학', '로봇공학'], ['최지훈', 4, 3.9, '교육학', '봉사활동'], ['정소희', 2, 3.5, '영어영문학', '음악감상']]
[['김철수' 1 4.2 '컴퓨터학' '프로그래밍']
 ['이영희' 2 3.8 '경영학' '독서토론']
 ['박민수' 3 4.5 '농학' '로봇공학']
 ['최지훈' 4 3.9 '교육학' '봉사활동']
 ['정소희' 2 3.5 '영어영문학' '음악감상']]
['김철수' 1 4.2 '컴퓨터학' '프로그래밍' '이영희' 2 3.8 '경영학' '독서토론' '박민수' 3 4.5 '농학'
 '로봇공학' '최지훈' 4 3.9 '교육학' '봉사활동' '정소희' 2 3.5 '영어영문학' '음악감상']

## 5-4 DataFrame 생성 방법

In [23]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data)
df2 = pd.read_csv('student_scores.csv')
df3 = pd.read_json('students.json')

## 세가지 방법 결과 비교
print(df1.shape)
print(df2.shape)
print(df3.shape)

(5, 5)
(5, 5)
(5, 5)

## 5-5 DataFrame 저장 방법

In [26]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df =pd.DataFrame(data)

## CSV, JSON 형식으로 저장
df.to_csv('student_scoures.csv')
df.to_json('student_scoures.json')

## EXCEL 형식으로 저장
df.to_excel('student_scoures.xlsx', index=False)

## HTML 형식으로 저장
html_table = df.to_html()
print(html_table)
with open('student_scoures.html', 'w') as file:
    file.write(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>이름</th>
      <th>학년</th>
      <th>학점</th>
      <th>학과</th>
      <th>동아리</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>김철수</td>
      <td>1</td>
      <td>4.2</td>
      <td>컴퓨터공학</td>
      <td>프로그래밍</td>
    </tr>
    <tr>
      <th>1</th>
      <td>이영희</td>
      <td>2</td>
      <td>3.8</td>
      <td>경영학</td>
      <td>독서토론</td>
    </tr>
    <tr>
      <th>2</th>
      <td>박민수</td>
      <td>3</td>
      <td>4.5</td>
      <td>전자공학</td>
      <td>로봇공학</td>
    </tr>
    <tr>
      <th>3</th>
      <td>최지훈</td>
      <td>4</td>
      <td>3.9</td>
      <td>의학</td>
      <td>봉사활동</td>
    </tr>
    <tr>
      <th>4</th>
      <td>정소희</td>
      <td>2</td>
      <td>3.5</td>
      <td>심리학</td>
      <td>음악감상</td>
    </tr>
  </tbody>
</table>

## 5-6 실습 시나리오

## 데이터 수집

In [39]:
import requests

url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty"
api_key = '6f04c2ad708fe62c4f3de6f747d7aed9dd47804d145cb050625bebdca97eac99'

params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '10',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
#print(response.json())
print(json.dumps(response.json(), indent=4, ensure_ascii=False))

{
    "response": {
        "body": {
            "totalCount": 40,
            "items": [
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "46",
                    "so2Value": "0.002",
                    "coValue": "0.2",
                    "pm25Flag": null,
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "10",
                    "khaiGrade": "1",
                    "pm25Value": "5",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": "1",
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.012",
                    "stationName": "중구",
                    "pm10Grade": "1",
                    "o3Value": "0.028"
                },
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "36",
                    "so2Value": "0.003",
                    "coValue": "0.4",
                    "pm25Flag": null,
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "10",
                    "khaiGrade": "1",
                    "pm25Value": "6",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": null,
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.013",
                    "stationName": "한강대로",
                    "pm10Grade": "1",
                    "o3Value": "0.022"
                },
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "-",
                    "so2Value": "0.002",
                    "coValue": "0.2",
                    "pm25Flag": null,
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "6",
                    "khaiGrade": null,
                    "pm25Value": "4",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": null,
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.013",
                    "stationName": "종로구",
                    "pm10Grade": "1",
                    "o3Value": "0.028"
                },
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "-",
                    "so2Value": "0.002",
                    "coValue": "0.3",
                    "pm25Flag": null,
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "10",
                    "khaiGrade": null,
                    "pm25Value": "3",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": null,
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.014",
                    "stationName": "청계천로",
                    "pm10Grade": "1",
                    "o3Value": "0.024"
                },
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "-",
                    "so2Value": "0.002",
                    "coValue": "0.3",
                    "pm25Flag": "통신장애",
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "9",
                    "khaiGrade": null,
                    "pm25Value": "-",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": null,
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.017",
                    "stationName": "종로",
                    "pm10Grade": "1",
                    "o3Value": "0.020"
                },
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "38",
                    "so2Value": "0.002",
                    "coValue": "0.3",
                    "pm25Flag": null,
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "8",
                    "khaiGrade": "1",
                    "pm25Value": "2",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": "1",
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.012",
                    "stationName": "용산구",
                    "pm10Grade": "1",
                    "o3Value": "0.023"
                },
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "47",
                    "so2Value": "0.003",
                    "coValue": "0.3",
                    "pm25Flag": null,
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "10",
                    "khaiGrade": "1",
                    "pm25Value": "3",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": "1",
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.011",
                    "stationName": "광진구",
                    "pm10Grade": "1",
                    "o3Value": "0.028"
                },
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "-",
                    "so2Value": "0.002",
                    "coValue": "0.2",
                    "pm25Flag": null,
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "6",
                    "khaiGrade": null,
                    "pm25Value": "5",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": "1",
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.008",
                    "stationName": "성동구",
                    "pm10Grade": null,
                    "o3Value": "0.029"
                },
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "-",
                    "so2Value": "0.003",
                    "coValue": "0.2",
                    "pm25Flag": null,
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "12",
                    "khaiGrade": null,
                    "pm25Value": "4",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": null,
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.005",
                    "stationName": "강변북로",
                    "pm10Grade": "1",
                    "o3Value": "0.029"
                },
                {
                    "so2Grade": "1",
                    "coFlag": null,
                    "khaiValue": "-",
                    "so2Value": "0.002",
                    "coValue": "0.2",
                    "pm25Flag": null,
                    "pm10Flag": null,
                    "o3Grade": "1",
                    "pm10Value": "8",
                    "khaiGrade": null,
                    "pm25Value": "2",
                    "sidoName": "서울",
                    "no2Flag": null,
                    "no2Grade": "1",
                    "o3Flag": null,
                    "pm25Grade": null,
                    "so2Flag": null,
                    "dataTime": "2025-09-21 22:00",
                    "coGrade": "1",
                    "no2Value": "0.005",
                    "stationName": "중랑구",
                    "pm10Grade": "1",
                    "o3Value": "0.029"
                }
            ],
            "pageNo": 1,
            "numOfRows": 10
        },
        "header": {
            "resultMsg": "NORMAL_CODE",
            "resultCode": "00"
        }
    }
}

## 데이터 프레임 생성

In [45]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기
data = response.json()['response']['body']['items']
print(type(data))
print(len(data))
print(data[0])
df = pd.DataFrame(data)
df['so2Value']

<class 'list'>
10
{'so2Grade': '1', 'coFlag': None, 'khaiValue': '46', 'so2Value': '0.002', 'coValue': '0.2', 'pm25Flag': None, 'pm10Flag': None, 'o3Grade': '1', 'pm10Value': '10', 'khaiGrade': '1', 'pm25Value': '5', 'sidoName': '서울', 'no2Flag': None, 'no2Grade': '1', 'o3Flag': None, 'pm25Grade': '1', 'so2Flag': None, 'dataTime': '2025-09-21 22:00', 'coGrade': '1', 'no2Value': '0.012', 'stationName': '중구', 'pm10Grade': '1', 'o3Value': '0.028'}

0    0.002
1    0.003
2    0.002
3    0.002
4    0.002
5    0.002
6    0.003
7    0.002
8    0.003
9    0.002
Name: so2Value, dtype: object

## 다양항 형식으로 데이터 저장

In [48]:
## CSV 형식 데이터 저
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장
df.to_json('air_polution.json', indent=4, force_ascii=False)

## EXCEL 형식 데이터 저장
df.to_excel('air_polution.xlsx', index=False)

## HTML 형식 데이터 저장
df.to_html('air_polution.html')